<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
 
  <div class="field">
    <%= f.label :department %><br />
    <%= f.collection_select :department, Player::DEPARTMENTS, :to_s, :to_s, 
       :include_blank => false%>
  </div>
  <div class="field">
    <%= f.label :leader %><br />
    <%= f.collection_select :leader, Player::LEADER, :to_s, :to_s, 
       :include_blank => false %>
  </div>
    <div class="field">
    <%= f.label :participating %><br />
    <%= f.collection_select :participating, Player::PARTICIPATING, :to_s, :to_s, 
       :include_blank => false %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>


<% end %>
