
<div id=pic><img width=700 src="http://dl.dropbox.com/u/38475430/Surprise%20Lunch%20Pics/DSC_0212.jpg/"></div>
<div style="padding-top: 200px; padding-left:100px">
<h1>Surprise Lunch on 5.12.2012</h1>
<h2 >Please submit your final response by 3.12.2012 2pm</h2>
  <span>Welcome! You are logged in.</span>
<%= render 'players/form' %>
</div>


    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
  
<%= link_to('View places', '/places') %>

<%= link_to 'Logout', '/logout', :method=>'delete' %>   
   

