
<div id=pic><img width=700 src="https://dl.dropboxusercontent.com/u/59656384/SP_Logo_signature_inverted_RGB.png"></div>
<div style="padding-top: 200px; padding-left:200px">
<h1>SponsorPay Surprise Lunch</h1>
<h1>Join us for the surprise lunch on 3.07.2013</h1>
<h2 >For the event next week we are partnering with <%= link_to "Brut on Torstrasse", "http://www.brut-berlin.com/" %>
to provide us with delicious lunchboxes.  </h2>
<h3>Drinks will be available for pick up in the CS/Marketing area. Please let us know if you have any of these special preferences, write them behind your name and hit "Submit" again: </h3>
<h4>
<li> Vegetarian </li>
<li> No Nuts </li>
<li> No Blutwurst (black pudding, blood sausage) </li>
<li> No Blaukäse (blue cheese) </li>
<li> No Cheese </li>
For example, my name line will look like this: 
Debbie B., No Blutwurst, No Blaukäse

</h4>


<%= render 'players/form' %>
</div>
  

    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>


<%= link_to 'Logout', '/logout', :method=>'delete' %>   
   

