<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Restaurant name:</b>
  <%= @place.restaurant_name %>
</p>

<p>
  <b>Comment:</b>
  <%= @place.comment %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Picture:</b>
  <%= @place.picture %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
